@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  padding: 50px 0px;
  background-color: #cee5d0;
  font-family: "Nunito", sans-serif;
  margin: 0 auto;
  color: whitesmoke;
  text-align: center;
}

header {
  font-weight: bold;
  font-size: 25px;
}

img {
  margin-top: 20px;
  width: 250px;
}

h1,
a,
button,
footer {
  color: #5e454b;
}

main {
  width: 750px;
  background-color: #5e454b;
  border-radius: 5px;
  margin: 20px auto;
  padding: 30px 30px 40px;
  text-align: left;
}

h3 {
  font-weight: bold;
  font-size: 25px;
  margin: 20px 0 10px;
}

p {
  margin: 10px 0;
}

strong {
  font-weight: bold;
}

/* This replaces the list bullets to vertical bar
but this is not customizable*/
/* ul {
  list-style-type: "❚ ";
} */
/* End of noted code*/

/* This sets left border */
ul {
  list-style: none;
}

li {
  margin: 5px 0;
  padding-left: 10px;
  border-left: 5px solid transparent;
}

.highlighted {
  color: #f7d59c;
  border-color: #f7d59c;
}
/* End of noted code */

a {
  background-color: #f3f0d7;
  text-decoration: none;
  padding: 0 5px;
  border-radius: 5px;
}

a:hover,
a:active {
  filter: invert(1);
}

button {
  background-color: #f7d59c;
  font-family: "Nunito", sans-serif;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 3px;
}

button:hover {
  filter: brightness(1.1);
  transform: scale(1.02);
}
